<!DOCTYPE html>
<html>
    <head>
        <title>{{section_title|e}} | {{meta_title|e}}</title>
        {% if meta_author %}
        <meta name="description" content="{{meta_title|e}} by {{meta_author|e}}"/>
        <meta name="Author" content="{{meta_author|e}}" />
        {% else %}
        <meta name="description" content="{{meta_title|e}}"/>
        {% endif %}
        <!--#include virtual="/php/header.html" -->
        {{ head }}
    </head>
    <body>
    <div id="container">
        <!--#include virtual="/php/banner-nav.html" -->

        <div id="content">
            {{body}}
            <div id="nextbutton">
                <a href="{{toc_url}}" class="next"><img src="/images/actions/ToC_button.png" title="Table of Contents"/></a>
                {% if next_url %}
                <a href="{{next_url}}" class="next"><img src="/images/actions/go-next-button2.png" title="Next page"/></a>
                {% endif %}
            </div>
        </div><!--end:content-->
        <!--#include virtual="/php/footer.html" -->

    </div><!--end:container-->

    <!--________ALL SCRIPTS BELOW HERE________-->

    <!--#include virtual="/php/scripts.html" -->
    </body>
</html>
